@-moz-document url(about:home), url(about:newtab) {
  body {
    --background-image: url('assets/new-tab.jpg');
  }

  body::before {
    background-image: var(--background-image) !important;
  }

  .logo-and-wordmark .logo {
    background-image: var(--background-image) !important;
  }
}
