@-moz-document url(about:privatebrowsing) {
  body {
    --background-image: url('assets/private-browsing.jpg');

    padding: 0px !important;
    justify-content: flex-start !important;
  }

  body::before {
    background-image: var(--background-image) !important;
  }

  .showPrivate {
    padding-top: 134px !important;
  }

  .logo-and-wordmark .logo {
    background-image: var(--background-image) !important;
  }

  .info {
    display: none !important;
  }
}
